* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    background-color: #F4C542;
    width: 800px;
    height: 800px;
   box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5), inset 5px 5px 10px #000000;   
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    max-width: 1200px;
    text-align: center;
}

/* write your CSS here */

.shape {
    width: 200px;
    height: 200px;
    position: absolute;
    left :600px;
    top:300px;
    background-color: #D32F2F;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5), inset 5px 5px 10px #000000;   
    border-radius: 100%;
}
.shape2{
     width: 200px;
    height: 200px;
    position: absolute;
   right: 600px;
   top:300px;
    background-color: #1E3A8A;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5), inset 5px 5px 10px #000000;   
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5), inset 5px 5px 10px #000000;   
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    
}
.card {
    width: 700px;
    height: 50px;
    position: absolute;
    top:600px;
    left:500px;
    background-color: #2E7D32;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5), inset 5px 5px 10px #000000;   
    margin: 20px auto;
    
}